[submodule "include/CPlusPlus-Template-Submodule1"]
	path = include/CPlusPlus-Template-Submodule1
	url = git@github.com:p-hofmann/CPlusPlus-Template-Submodule1.git
[submodule "include/CPlusPlus-Template-Submodule2"]
	path = include/CPlusPlus-Template-Submodule2
	url = git@github.com:p-hofmann/CPlusPlus-Template-Submodule2.git
