[submodule "include/CPlusPlus-Template-Submodule1"]
	path = include/Cpp-Template-Sub1
	url = https://github.com/p-hofmann/Cpp-Template-Sub1.git
[submodule "include/Cpp-FileSystem-Emulator"]
	path = include/Cpp-FileSystem-Emulator
	url = https://github.com/p-hofmann/Cpp-FileSystem-Emulator.git
